IPv4 perrfered over IPv6 for outgoing connectings

I am running thelounge in docker compose with an IPv6 network setup the same way I do all my containers. I can access thelounge via IPv6 on the host machine and I can a receive successful IPv6 pings on thelounge's container via docker exec -it thelounge ping ipv6.google.com command.

Here is the docker compose file I use:
```
services:
  thelounge:
    image: ghcr.io/thelounge/thelounge:latest
    container_name: thelounge
    ports:
      - 8580:9000
    restart: unless-stopped
    volumes:
      - ./thelounge-data:/var/opt/thelounge
    networks:
      - thelounge
    #network_mode: host

networks:
  thelounge:
    name: thelounge
    enable_ipv6: true
    ipam:
      config:
        - subnet: fd12:3456:7890:22::/64
          gateway: fd12:3456:7890:22::1
        - subnet: 10.123.22.0/24
          gateway: 10.123.22.1
  ```
I even tested with host network mode but thelounge always makes its outgoing server connections via IPv4. If I modify config.js and change bind to "::" it will fail to connect to servers even though IPv6 connectivity to the container is working (container itself can still ping IPv6 addresses).

we don't do anything specific with regards to the ip version...
your resolver will use whatever order it happens to prefer, the rest is then the normal route selection by your OS.

(unless you set a bind config of course)

So not sure what you run into here.

I made a mistake in the OP ticket. I am NOT able to access thelounge web interface on IPv6 at all. The CONTAINER can still ping an IPv6 address, however.

Whether I use host mode or a bridge network, thelounge itself has no IPv6 connectivity if I set "::" in the config.js.

When host is set to "::" or undefined, web interface is only reachable on IPv4. The docker output shows it is listening on http://[::]:9000.
When host is set to "0.0.0.0", docker output shows listening on http://0.0.0.0:9000 and I can connect on IPv4. This is expected.

When bind is set to "undefined", it only makes outgoing connections to the IRC servers via IPv4.
When bind is set to "0.0.0.0", it works as expected on IPv4 only.
When bind is set to "::" it fails to connect to any IRC server and throws a bind error.

Here is docker output when host is undefined and bind is undefined:
```
thelounge  | 2024-07-24 00:31:44 [INFO] The Lounge v4.4.3 (Node.js 18.20.4 on linux x64)
thelounge  | 2024-07-24 00:31:44 [INFO] Configuration file: /var/opt/thelounge/config.js
thelounge  | 2024-07-24 00:31:44 [INFO] Available at http://[::]:9000/ in private mode
thelounge  | 2024-07-24 00:31:44 [INFO] User robin loaded
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] Connection.setEncoding() encoding=utf8
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport connect()
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport disposeSocket() connected=false
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport Connection.setEncoding() encoding=utf8
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport Connecting socket..
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport Socket created!
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport socketRawConnected()
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport socketFullyConnected()
thelounge  | 2024-07-24 00:31:44 [DEBUG] [robin (49e889e4-67bc-4fc2-a728-ab3acb30fc76) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] Socket fully connected
```
In the above, it shows listening on [::], which should be all interfaces, but I can only reach the web interface on IPv4. The connection to gamesurge is successful on IPv4.

Here is the output  if I set host to undefined and bind to "::"
```
thelounge  | 2024-07-24 00:56:41 [INFO] The Lounge v4.4.3 (Node.js 18.20.4 on linux x64)
thelounge  | 2024-07-24 00:56:41 [INFO] Configuration file: /var/opt/thelounge/config.js
thelounge  | 2024-07-24 00:56:41 [INFO] Available at http://[::]:9000/ in private mode
thelounge  | 2024-07-24 00:56:41 [INFO] User robin loaded
thelounge  | 2024-07-24 00:56:41 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] Connection.setEncoding() encoding=utf8
thelounge  | 2024-07-24 00:56:41 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport connect()
thelounge  | 2024-07-24 00:56:41 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport disposeSocket() connected=false
thelounge  | 2024-07-24 00:56:41 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport Connection.setEncoding() encoding=utf8
thelounge  | 2024-07-24 00:56:41 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport Connecting socket..
thelounge  | 2024-07-24 00:56:41 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport Socket created!
thelounge  | 2024-07-24 00:56:41 [ERROR] Failed to fetch changelog: RequestError: bind EINVAL ::
thelounge  | 2024-07-24 00:58:55 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport socketError() connect ETIMEDOUT 2001:470:1f06:25f::2:6697
thelounge  | 2024-07-24 00:58:55 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] NetTransport socketClose()
thelounge  | 2024-07-24 00:58:55 [DEBUG] [robin (77b3480f-6822-43dc-a1b4-318747ff4248) on GameSurge (f48422fe-14df-40fd-a202-407dfb20efbc] Socket closed. was_connected=false safely_registered=false requested_disconnect=false
```
Web interface still only reachable on IPv4. No outgoing connectivity on IPv6.

If I set host to "::" and bind to "::". The docker output is the same as above and the behavior is also the same.

Here is the server status window from thelounge web interface over IPv4:
```
00:56:41 Network created, connecting to [prothid.ny.us.gamesurge.net:6697](http://prothid.ny.us.gamesurge.net:6697/)...
00:58:55 *** Connection closed unexpectedly: Error: connect ETIMEDOUT 2001:470:1f06:25f::2:6697
00:58:55 Disconnected from the network, and will not reconnect. Use /connect to reconnect again.
```

ok, this is somewhat fun, depending on your definition of fun.

So, turns out that normally node does some sort of happy eyeballs, meaning "autoSelectFamily"

>autoSelectFamily [<boolean>](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Data_structures#Boolean_type): If set to true, it enables a family autodetection algorithm that loosely implements section 5 of [RFC 8305](https://www.rfc-editor.org/rfc/rfc8305.txt). The all option passed to lookup is set to true and the sockets attempts to connect to all obtained IPv6 and IPv4 addresses, in sequence, until a connection is established. The first returned AAAA address is tried first, then the first returned A address, then the second returned AAAA address and so on. Each connection attempt (but the last one) is given the amount of time specified by the autoSelectFamilyAttemptTimeout option before timing out and trying the next address. Ignored if the family option is not 0 or if localAddress is set. Connection errors are not emitted if at least one connection succeeds. If all connections attempts fails, a single AggregateError with all failed attempts is emitted. Default: [net.getDefaultAutoSelectFamily()](https://nodejs.org/api/net.html#netgetdefaultautoselectfamily).

*however* by actually trying to enforce ipv6 and using the unspecified ipv6 addr "::" you are essentially turning this off.

Meaning you make matters worse :wink: 

What we need to do is add the blurb that checks the bind host address and if that's an ip set the family accordingly

what i don't understand though is that you get the error when contacting IRC servers right? Not link previews or such?
Because the IRC framework already does that

```js
                socket = this.socket = tls.connect({
                    servername: sni,
                    host: ircd_host,
                    port: ircd_port,
                    rejectUnauthorized: options.rejectUnauthorized,
                    key: options.client_certificate && options.client_certificate.private_key,
                    cert: options.client_certificate && options.client_certificate.certificate,
                    localAddress: options.outgoing_addr,
                    family: this.getAddressFamily(options.outgoing_addr)

```

What I posted it all I see in the docker output or the server status window since it won't attempt to reconnect. If there is something specific you want to me post, just tell me how to grab it.

As for link previews, I usually turn those things off. I can let it run for a while using undefined binding if you are interesting in seeing the results of that.