Support sending "/join 0" to network to part from all channels

<!-- Have a question? Join #thelounge on Libera.Chat. -->
<!-- Make sure to check the existing issues prior to submitting your suggestion. -->

### Feature Description
IRC specification (RFC 2812 section 3.2.1, and IRCv3 documentation) and also other clients support sending `/join 0` to a network so that it can part all channels.

However, The Lounge v4.4.3 just joins the channel `#0` when `/join 0` is sent. I'm not sure if this is a bug or a feature.

it's an anti feature 😉 

join literally says on the tin what it should be doing, JOIN.

We've enough people yelling at us that /quit deletes the network, and that one even makes sense in some cases.
If you really want to mess with IRC internals, use /raw and send the command directly.
IRC is our transport, it's not exposed 1:1 so what the spec says doesn't matter.